//
   Created by Jan on 9/5/2015.

section.row(data-ng-controller='AuthenticationController')
   .container

      .page-header.text-center
         h2.section-heading Instructor Sign Up

         hr

         p.txt-faded
         | #{title} instructor accounts are available only to verified instructors at recognized
         | educational institutions. If you have used #{title} previously, or if you have lost
         | your email and / or password, there is no need to sign up again.

      .row
         .col-xs-offset-1.col-xs-10.col-md-offset-4.col-md-4.signup-form

            form.signin.form-horizontal(name='userForm', data-ng-submit='signup()', novalidate='', autocomplete='off')
               fieldset

                  legend Contact Information
                  .form-group
                     label.sr-only First Name
                     input#firstName.form-control(type='text', name='firstName', data-ng-model='credentials.firstName', placeholder='First Name', required='true')

                  .form-group
                     label.sr-only Last Name
                     input#lastName.form-control(type='text', name='lastName', data-ng-model='credentials.lastName', placeholder='Last Name', required='true')

                  .form-group
                     label.sr-only Checkbox
                     input(type='checkbox', required='true')
                     |  I certify that I am a recognized instructor a the accredited educational institution below.

                  .form-group
                     label.sr-only Email (academic)
                     input#email.form-control(type='email', name='email', data-ng-model='credentials.email', placeholder='Email Address (academic)', required='true')

                  .form-group
                     label.sr-only Department
                     input#department.form-control(type='text', name='department', data-ng-model='credentials.department', placeholder='Department', required='true')

                  .form-group
                     label.sr-only Telephone
                     input#phone.form-control(type='tel', name='phone', data-ng-model='credentials.phone', placeholder='Telephone No.', required='true')

                  legend Institution
                  .form-group
                     label.sr-only Institution Name
                     input#institution.form-control(type='text', name='institution', data-ng-model='credentials.institution', placeholder='Institution Name', required='true')

                  .form-group
                     label.sr-only Type of Institution Select Menu
                     select#institutionType.form-control(name ='institutionType', required='true', data-ng-model='credentials.institutionType') Choose Type of Institution
                        option Choose Type of Institution
                        option University
                        option Community College
                        option High School
                        option Middle School
                        option Elementary School
                        option Corporation

                  legend Address (Please use your institution-based mailing address.)
                  .form-group
                     label.sr-only Address line 1
                     input#addressLine1.form-control(type='text', name='addressLine1', data-ng-model='credentials.addressLine1', placeholder='Address (line 1)', required='true')

                  .form-group
                     label.sr-only Address line 2
                     input#addressLine2.form-control(type='text', name='addressLine2', data-ng-model='credentials.addressLine2', placeholder='Address (line 2 optional)')

               .row
                  .form-group.col-xs-12.col-md-3
                     label.sr-only City
                     input#city.form-control(type='text', name='city', data-ng-model='credentials.city', placeholder='City', required='true')

                  .form-group.col-xs-12.col-md-3
                     label.sr-only State or Province
                     input#state.form-control(type='text', name='state', data-ng-model='credentials.state', placeholder='State or Province', required='true')

                  .form-group.col-xs-12.col-md-3
                     label.sr-only Postal Code
                     input#zip.form-control(type='text', name='zip', data-ng-model='credentials.zip', placeholder='Zip Code', required='true')

                  .form-group.col-xs-12.col-md-3
                     label.sr-only Country
                     input#country.form-control(type='text', name='country', data-ng-model='credentials.country', placeholder='Country', required='true')

               .clearfix

                  hr

                  .form-group
                     legend Comments
                     p If you have any questions, suggestions, or special needs, please let us know!
                     textarea.form-control(type='text', name='message', placeholder='Enter your message...', rows='7')

                  hr

                  .form-group
                     legend Terms of Use
                     textarea.form-control(name='touTextarea', cols='50', rows='10', readonly='readonly')

                     .btn-group
                        a.btn.btn-success(href='') Save &nbsp;
                           i.fa.fa-save
                        a.btn.btn-primary(href='') Print &nbsp;
                           i.fa.fa-print

                  .form-group
                     label.sr-only Checkbox
                     input(type='checkbox', required='true')
                     |   I agree to the above-referenced terms of use and acknowledge that my agreement creates a
                     | binding legal agreement whether or not I have chosen to read these terms of use

                  hr

                  h3 Your status as an instructor will be verified and your sign in information will be emailed to you within two to three business days after submitting this form.
                  .form-group
                     button.btn.btn-success.btn-lg.btn-block(type='submit') Submit

                  p Nobilitek is committed to privacy. For information, please read our
                     a(href='/privacy')  Privacy Statement
                     |.

   script(type='text/javascript').
      var terms = "Introduction \n\n" +
             "Welcome to #{locals.application}. We hope our software helps you meet your educational goals and objectives. " +
             "#{locals.application} is used by students to test their real world knowledge in a safe controlled environment and receive a score and by instructors to provide assignments and communications with their students. " +
             "We provide this service to you subject to the following Terms of Use (TOU). " +
             "\n\nBy accessing and using our service, you are agreeing to your acceptance, without limitation or qualification, these TOU. If you do not agree with these TOU, you may not access or use #{locals.application}. " +
             "\n\nThe #{locals.application} Service" +
             "\n\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget gravida lorem. " +
             "Sed et eros non nisi consectetur cursus. Nullam vel neque nisl. Nullam tempus nisl at sem euismod, a facilisis leo semper. Ut venenatis ligula ut mollis tempor. Vivamus cursus aliquam augue vel luctus."
              ;
      var touTextarea = document.getElementsByName('touTextarea')[0].value = terms;
